<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="v_info_log_layout" value="${date:format=yyyy-MM-dd HH\:mm\:ss}|${level}|${message}" />
  <variable name="v_error_log_layout" value="${date:format=yyyy-MM-dd HH\:mm\:ss}|${level}|${message}" />
  <targets async="true">
    <target name="logfile" xsi:type="File" fileName="logs//info${shortdate}.txt" layout="${v_info_log_layout}" />
    <target name="logError" xsi:type="File" fileName="logs//error${shortdate}.txt" layout="${v_error_log_layout}" />
  </targets>

  <rules>
    <logger name="*" levels="Info,Warn,Debug,Trace" writeTo="logfile" />
    <logger name="*" levels="Error,Fatal" writeTo="logError" />
  </rules>
</nlog>